---
import { Picture } from "astro:assets";
import socialLinks from "@content/_social-links.json";
import SearchBar from "@components/SearchBar/index.astro";
import { icons } from "./data";
import i18n from "./i18n";

const currentLocale = Astro.currentLocale as Lang;
const currentPage = Astro.url.pathname;
const { mainProfileAlt, menuItems: menuItemsMap, homePath, menuToggleAriaLabel, blogTitle } = i18n[currentLocale];

const menuItemsEntries = Object.entries(menuItemsMap);
---

<div class="main-menu" data-fragment="main-menu" transition:persist>
  <header class="header">
    <a href={homePath} class="header-left">
      <div class="avatar">
        <img class="avatar-image" src="/images/profile-new.jpg" width="44" height="44" alt={mainProfileAlt} />
      </div>
      <div>
        <h1 class="name">Tim Fontes</h1>
        <h2 class="blog-title">{blogTitle}</h2>
      </div>
    </a>
    <div class="header-right">
      <button class="menu-button" aria-label={menuToggleAriaLabel}></button>
    </div>
  </header>
  <div class="menu-body">
    <menu class="menu-list">
      {
        menuItemsEntries.map(([key, { label, path, iconAlt, target }]) => (
          <li class="menu-content-item" id={`menu-item-${key}`}>
            <a
              class:list={[
                "menu-content-link",
                {
                  "menu-content-link--active": path === currentPage,
                },
              ]}
              target={target}
              href={path}
            >
              <Picture class="menu-content-icon" width={24} height={24} formats={["webp"]} src={icons[key]} alt={iconAlt} />
              {label}
            </a>
          </li>
        ))
      }
    </menu>

    <div>
      <div class="search-block">
        <SearchBar />
      </div>

      <div class="social-holder">
        <ul class="social-list">
          {
            socialLinks["social-links-list"].map(({ label, link }) => (
              <li class="social-li">
                <a class="social-link" href={link} target="_blank">
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  import "./controller";
</script>

<style lang="scss">
  @import "./styles.scss";
</style>
