---
import Shell from "@components/Shell/index.astro";
import i18n from "./i18n";
import { CollectionEntry } from "astro:content";
import ImageLoader from "@components/Image/ImageLoader.astro";
import PageTitle from "@components/PageTitle.astro";
import EditorialContainer from "@components/EditorialContainer.astro";

type Props = {
  i18nPagePaths: I18NPagePaths;
  entry: CollectionEntry<"projects">;
};

const lang = Astro.currentLocale as Lang;
const { projectDescriptionLabel, projectLinkLabel, projectLearningsLabel, projectNameLabel, projectYearLabel, defaultGoBackPage } = i18n[lang];

const { i18nPagePaths, entry } = Astro.props;
const { Content } = await entry.render();

const stats = [
  {
    label: projectNameLabel,
    value: entry.data.title,
  },
  {
    label: projectYearLabel,
    value: `${entry.data.proj_created_year} - ${entry.data.proj_finish_year || ""}`,
  },
  {
    label: projectDescriptionLabel,
    value: entry.data.excerpt,
  },
  {
    label: projectLearningsLabel,
    value: (entry.data.learnings || []).join(", "),
  },
];

const getLogoAlt = (title: string) => `${title} logo`;
---

<Shell title={entry.data.title} i18nPagePaths={i18nPagePaths} defaultGoBack={defaultGoBackPage}>
  <div class="project-heading">
    <PageTitle>{entry.data.title}</PageTitle>
    <div class="project-stats">
      {
        entry.data.thumbnail && (
          <div class="project-stats-logo">
            <ImageLoader style={{ height: "100%", flex: 1 }} alt={getLogoAlt(entry.data.title)}>
              <img class="project-logo-img" src={entry.data.thumbnail} alt={getLogoAlt(entry.data.title)} />
            </ImageLoader>
          </div>
        )
      }
      <ul class="project-stats-list">
        {
          stats.map((i) => (
            <li class="project-stat">
              <strong>{i.label}: </strong> {i.value}
            </li>
          ))
        }
        {
          entry.data.project_link && (
            <li class="project-stat">
              <strong>{projectLinkLabel}: </strong>{" "}
              <a href={entry.data.project_link} target="_blank">
                {entry.data.project_link}
              </a>
            </li>
          )
        }
      </ul>
    </div>
  </div>
  <EditorialContainer>
    <div class="project-desc">
      <Content />
    </div>
  </EditorialContainer>
</Shell>
<style lang="scss">
  @import "./styles.scss";
</style>
