---
import { ClientRouter } from "astro:transitions";
import "src/scss/global/main.scss";
import MainMenu from "@components/MainMenu/index.astro";
import Alert from "@components/Alert/index.astro";
import Settings from "@components/Settings/index.astro";
import LanguageSelector from "@components/LanguageSelector.astro";
import i18n from "./i18n";
import { fade } from "astro:transitions";
import LoadThemeScript from "./LoadThemeScript.astro";
import Button from "@components/Button.astro";

export type Props = {
  title?: string;
  i18nPagePaths: I18NPagePaths;
  defaultGoBack?: string;
  metadata?: {
    description?: string;
    image?: string;
  };
};

const { title, i18nPagePaths, metadata = {}, defaultGoBack } = Astro.props as Props;
const lang = Astro.currentLocale as Lang;
const { htmlLang, metaDescription, goBack } = i18n[lang];

const forceViewTransitionsPolyfill = false;
const currentYear = new Date().getFullYear();
const I18NMap: I18NMap = {
  currentLang: Astro.currentLocale,
  paths: i18nPagePaths,
};
const stringfiedI18NMap = JSON.stringify(I18NMap);

// meta data
const BaseTitle = "Tim Fontes";
const formattedTitle = title ? `${title} - ${BaseTitle}` : BaseTitle;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const usedDescription = metadata?.description || metaDescription;

const feedPath = {
  en: `${Astro.site}feed.xml`,
  "pt-br": `${Astro.site}pt-br/feed.xml`,
}[lang];
---

<!doctype html>
<html lang={htmlLang} transition:persist class="theme-default text-size-50 background-none">
  <head>
    <meta charset="utf-8" />
    <title>{formattedTitle}</title>
    <meta name="theme-color" content="#7D7F82" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />

    <link rel="canonical" href={canonicalURL} />
    <meta name="description" content={usedDescription} />
    <meta property="og:title" content={formattedTitle} />
    <meta property="og:description" content={usedDescription} />
    <meta property="og:url" content={canonicalURL} />
    {metadata.image && <meta property="og:image" content={metadata.image} />}
    <link rel="alternate" type="application/rss+xml" title="Tim Fontes" href={feedPath} />

    <ClientRouter />
    <LoadThemeScript />
  </head>
  <body>
    <div class="shell" data-fragment="shell">
      <div class="shell-container">
        <div class="shell-menu">
          <MainMenu />
        </div>

        <div class="shell-content" transition:animate={fade({ duration: "0.3s" })}>
          <div class="shell-page">
            <div class="shell-page-heading">
              <div class="shell-heading-left">
                <a
                  class:list={["shell-back", { "shell-back--disabled": !defaultGoBack }]}
                  data-go-back
                  href={defaultGoBack || "#"}
                  aria-disabled={!defaultGoBack}
                >
                  <div class="shell-back-icon"></div>
                  {goBack}
                </a>
              </div>
              <div class="shell-heading-right">
                <div class="shell-i18n-holder">
                  <LanguageSelector />
                  <script is:inline id="i18nMap" type="application/json" set:html={stringfiedI18NMap} />
                </div>
                <Button class="shell-theme-toggle" aria-label="Toggle theme" data-theme-toggle>
                  <div class="shell-theme-toggle-bg">
                    <div class="shell-theme-toggle-icon"></div>
                  </div>
                </Button>
              </div>
            </div>
            <div class="shell-page-container">
              <slot />
              <div class="shell-footer">
                &copy; {currentYear}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="music-player-slot"></div>
      <Alert />
      <Settings />
    </div>
    <style lang="scss">
      @import "./styles.scss";
    </style>

    <script>
      import "./controller";
    </script>
  </body>
</html>
