---
import { CollectionEntry } from "astro:content";
import pagePaths from "@constants/pagePaths";

type Props = {
  project: CollectionEntry<"projects">;
};

const currentLang = Astro.currentLocale as Lang;
const usedPagePaths = pagePaths[currentLang];
const { projects } = usedPagePaths;
const { project } = Astro.props;
const { data } = project;

const [_, projectSlug] = project.slug.split("/");
const projectPath = `${projects}/${projectSlug}`;

const maxExcerptSize = 100;
const fmtExcerpt = `${data?.excerpt.slice(0, maxExcerptSize)}${data?.excerpt.length > maxExcerptSize ? "..." : ""}`;
const learningsSlugs = JSON.stringify(data.learnings || []);
---

<li class="project" data-learnings={learningsSlugs}>
  <a class="project-link" href={projectPath}>
    <div class="project-thumb-holder">
      {
        data.thumbnail && (
          <img class="project-thumb" src={data.thumbnail} loading="lazy" />
        )
      }
    </div>
    <div class="project-body">
      <h4 class="project-title">{data.title}</h4>
      <p class="project-desc">
        {fmtExcerpt}
      </p>
      <ul class="project-learnings">
        {data.learnings.map((item) => <li>{item}</li>)}
      </ul>
    </div>
  </a>
</li>
<style lang="scss">
  @import "./styles.scss";
</style>
