---
import Shell from "@components/Shell/index.astro";
import PostsList from "@components/PostsList/index.astro";
import PostListItem from "@components/PostsList/Item.astro";
import PostsSearch from "@components/PostsList/Search.astro";
import { getPostsByLang } from "@cms/collections/posts/helpers";
import pagePaths from "@constants/pagePaths";

type Props = {
  topic: {
    slug: string;
    label: string;
    color: string;
    image: string;
  };
};

const { topic } = Astro.props;

const lang = Astro.currentLocale as Lang;
const allPosts = await getPostsByLang(lang);
const filteredPosts = allPosts.filter((post) => {
  const postTopics = post?.data?.topics || [];
  return postTopics.includes(topic.slug);
});

const i18nMap: I18NPagePaths = {
  "pt-br": `/pt-br/posts/topico/${topic.slug}`,
  en: `/posts/topic/${topic.slug}`,
};

const i18n = {
  en: {
    title: `Topic "${topic.label}"`,
    defaultGoBackPage: pagePaths.en.posts,
  },
  "pt-br": {
    title: `Tópico "${topic.label}"`,
    defaultGoBackPage: pagePaths["pt-br"].posts,
  },
}[lang];

const { title, defaultGoBackPage } = i18n;
---

<Shell title={title} i18nPagePaths={i18nMap} defaultGoBack={defaultGoBackPage}>
  <div class="posts-topic">
    <PostsSearch>
      <h2 class="topic-title">"{topic.label}" posts</h2>
      <PostsList>
        {filteredPosts.map((post) => <PostListItem post={post} searcheble />)}
      </PostsList>
    </PostsSearch>
  </div>
</Shell>

<style lang="scss">
  .topic-title {
    margin-top: 20px;
  }
</style>
