---
import Shell from "@components/Shell/index.astro";
import Image from "@components/Image/index.astro";
import range from "@helpers/range";
import { getPageI18NPathMap } from "@helpers/server/i18n";

import introImg from "./assets/intro-mobile.webp";
import i18n from "./i18n";

const pageData = i18n[Astro.currentLocale as Lang];
---

<Shell i18nPagePaths={getPageI18NPathMap("home")}>
  <div class="main-page" data-fragment="main-page">
    <section class="presentation">
      <h1 class="section-title">{pageData.mainTitle}</h1>
      <div class="presentation-panels">
        <div>
          {
            pageData.introParagraphs.map((paragraph) => (
              <p set:html={paragraph} />
            ))
          }
        </div>
        <div class="main-image-holder">
          <Image
            src={introImg}
            class="main-image"
            alt={pageData.mainImgAlt}
            loading="eager"
          />
        </div>
      </div>
    </section>
    <section class="latest-posts">
      <h3 class="section-title">{pageData.latestPostsTitle}</h3>
      <ul class="posts-list">
        {
          range(5).map((i) => (
            <li class="latest-post">
              <a href="#" class="latest-post-link">
                Releasing a new game
              </a>
              <p class="latest-post-excerpt">
                orem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus eu dolor aliquam, convallis risus quis, hendrerit
                metus. Quisque neque augue, posuere eu sapien vitae, volutpat
                posuere felis.{" "}
              </p>
              <a href="#" class="latest-post-path">
                http://potato.com.br/my-post
              </a>
            </li>
          ))
        }
      </ul>
      <a href="#" class="more-posts-link">...{pageData.morePosts}</a>
    </section>
  </div>
</Shell>

<style lang="scss">
  @import "./styles.scss";
</style>
