---
import Shell from "@components/Shell/index.astro";
import ImageLoader from "@components/Image/ImageLoader.astro";
import i18n from "./i18n";
import { CollectionEntry } from "astro:content";

type Props = {
  i18nPagePaths: I18NPagePaths;
  entry: CollectionEntry<"posts">;
};

const lang = Astro.currentLocale as Lang;
const data = i18n[lang];

const { i18nPagePaths, entry } = Astro.props;
const { Content, ...asd } = await entry.render();
---

<Shell i18nPagePaths={i18nPagePaths}>
  <div class="post">
    <h1 class="post-title">{entry?.data?.title}</h1>

    {
      entry.data?.thumbnail && (
        <div class="post-thumbnail">
          <ImageLoader style={{ height: "100%" }} alt={data.title}>
            <img
              src={entry.data?.thumbnail}
              style={{ width: "100%" }}
              alt={data.title}
            />
          </ImageLoader>
        </div>
      )
    }
    <div class="post-content">
      <Content />
    </div>
  </div>
</Shell>

<style lang="scss">
  @import "./styles.scss";
</style>
