---
import { LANGS } from "src/constants";

type Props = {
  useLabel?: boolean;
};

const { useLabel = true } = Astro.props;

const langs = [LANGS.EN, LANGS.PTBR];

const labels = {
  en: "English",
  "pt-br": "Português",
};
const currentLocale = Astro.currentLocale;
const inputId = "language-selector";
const inputLabel = {
  en: "Language",
  "pt-br": "Idioma",
}[currentLocale];
---

<div class="language-selector">
  {useLabel && <label for={inputId}>{inputLabel}:</label>}

  <select id={inputId}>
    {
      langs.map((lang) => (
        <option value={lang} selected={lang === currentLocale}>
          {labels[lang]}
        </option>
      ))
    }
  </select>
</div>
