---
import Shell from "@components/Shell/index.astro";
import Button from "@components/Button.astro";
import { getPageI18NPathMap } from "@helpers/server/i18n";
import socialLinks from "@content/_social-links.json";
import flipPhone from "./assets/flip-phone.webp";

import i18n from "./i18n";
import PageTitle from "@components/PageTitle.astro";
import { CONTACT_EMAIL_ADRESS } from "@constants/index";
import Image from "@components/Image/index.astro";

const lang = Astro.currentLocale as Lang;
const data = i18n[lang];

const encodedSubject = encodeURIComponent(data.subject);
const mailTo = `mailto:${CONTACT_EMAIL_ADRESS}?subject=${encodedSubject}`;
---

<Shell title={data.title} i18nPagePaths={getPageI18NPathMap("contact")}>
  <PageTitle>{data.title}</PageTitle>

  <div class="contact-top">
    <Image
      src={flipPhone}
      class="contact-image"
      alt={data.imageAlt}
      loading="eager"
    />
    <ul class="social-list">
      {
        socialLinks["social-links-list"].map((s) => (
          <li class="social-list-item">
            <a href={s.link} target="__blank" class="social-link">
              <img
                class="social-link-logo"
                src={s.logo}
                alt={`${s.label} logo`}
              />
              <span class="social-link-label">{s.label}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <p class="contact-text">
    <span>{data.contactText}</span>{" "}
    <a href={mailTo}>{CONTACT_EMAIL_ADRESS}</a>
  </p>
  <form
    action={mailTo}
    method="post"
    enctype="text/plain"
    target="_blank"
    class="contact-form"
  >
    <div class="form-field">
      <label class="field-label" for="name">{data.nameField}</label>
      <input class="field-input" name="name" type="text" id="name" required />
    </div>
    <div class="form-field">
      <label class="field-label" for="comment">{data.messageField}</label>
      <textarea class="field-input" name="comment" id="comment" rows="8"
      ></textarea>
    </div>
    <Button type="submit">{data.sendForm}</Button>
  </form>
</Shell>

<style lang="scss">
  @import "./style.scss";
</style>
