---
import { CollectionEntry } from "astro:content";
import { fmtDate } from "@helpers/date";
import pagePaths from "@constants/pagePaths";
import i18n from "./i18n";

type Props = {
  post: CollectionEntry<"posts">;
  searcheble?: boolean;
};

const { post, searcheble } = Astro.props;

const currentLang = Astro.currentLocale as Lang;
const usedPagePaths = pagePaths[currentLang];
const { posts: postsPath, postTopics: postTopicsPath } = usedPagePaths;
const {
  page_url,
  title,
  excerpt,
  topics,
  external_link,
  created_date,
  updated_date,
} = post.data;
const { topicsTitle } = i18n[currentLang];

const maxExcerptSize = 200;
const fmtExcerpt = `${excerpt.slice(0, maxExcerptSize)}${excerpt.length > maxExcerptSize ? "..." : ""}`;
const postPageUrl = external_link
  ? external_link
  : `https://${Astro.site.host}${postsPath}/${page_url}`;
const postPath = external_link ? external_link : `${postsPath}/${page_url}`;
const fmtTopics = (topics || []).map((topic) => ({
  topic,
  path: `${postTopicsPath}/${topic}`,
}));

const postDate = `| ${fmtDate(created_date, currentLang)}${updated_date ? ` (${i18n[currentLang].updatedLabel}: ${fmtDate(updated_date as Date, currentLang)})` : ""}`;
---

<li
  class="post-link"
  data-post-title={searcheble && title}
  data-post-excerpt={searcheble && excerpt}
  data-topics={searcheble && JSON.stringify(topics)}
>
  <a href={postPath} data-title class="post-link-link" target={external_link && "__blank"}>
    {title}
    {external_link && <span>&#x2197;</span>}
  </a>
  <p class="post-link-excerpt" data-excerpt>
    {fmtExcerpt}
    <span class="post-link-date">{postDate}</span>
  </p>
  <div class="post-link-categories">
    <span class="post-link-cat-title">{topicsTitle}:</span>
    {
      fmtTopics.map(({ topic, path }) => (
        <a class="post-link-cat-link" href={path}>
          {topic}
        </a>
      ))
    }
  </div>
  <p class="post-link-path">
    {postPageUrl}
  </p>
</li>

<style lang="scss">
  @import "./styles.scss";
</style>
