---
import { CollectionEntry } from "astro:content";
import pagePaths from "@constants/pagePaths";
import i18n from "./i18n";

type Props = {
  post: CollectionEntry<"posts">;
  searcheble?: boolean;
};

const { post, searcheble } = Astro.props;

const currentLang = Astro.currentLocale as Lang;
const usedPagePaths = pagePaths[currentLang];
const { posts: postsPath, postTopics: postTopicsPath } = usedPagePaths;
const { page_url, title, excerpt, topics, external_link } = post.data;
const { topicsTitle } = i18n[currentLang];

const maxExcerptSize = 200;
const fmtExcerpt = `${excerpt.slice(0, maxExcerptSize)}${excerpt.length > maxExcerptSize ? "..." : ""}`;
const postPageUrl = external_link
  ? external_link
  : `https://${Astro.site.host}${postsPath}/${page_url}`;
const postPath = external_link ? external_link : `${postsPath}/${page_url}`;
const fmtTopics = (topics || []).map((topic) => ({
  topic,
  path: `${postTopicsPath}/${topic}`,
}));
---

<li
  class="post-link"
  data-post-title={searcheble && title}
  data-post-excerpt={searcheble && excerpt}
  data-topics={searcheble && JSON.stringify(topics)}
>
  <a href={postPath} class="post-link-link" target={external_link && "__blank"}>
    {title}
    {external_link && <span>&#x2197;</span>}
  </a>
  <p class="post-link-excerpt">{fmtExcerpt}</p>
  <div class="post-link-categories">
    <span class="post-link-cat-title">{topicsTitle}:</span>
    {
      fmtTopics.map(({ topic, path }) => (
        <a class="post-link-cat-link" href={path}>
          {topic}
        </a>
      ))
    }
  </div>
  <p class="post-link-path">
    {postPageUrl}
  </p>
</li>

<style lang="scss">
  .post-link {
    margin-bottom: 18px;
    max-width: 650px;
    &-link {
      font-size: var(--txt-title-link);
      text-decoration: underline;
    }

    &-excerpt {
      font-size: var(--body-text);
      line-height: 1;
    }

    &-categories {
      font-size: var(--txt-small);
      display: flex;
      gap: 7px;
    }

    &-cat-title,
    &-cat-link {
      color: var(--gray-30);
    }

    &-path {
      font-size: var(--txt-small);
      text-decoration: none;
      color: var(--theme-post-url-color);
    }
  }
</style>
