---
import Button from "@components/Button.astro";
import LocalImage from "@components/Image/index.astro";
import postTopics from "@content/_post-topics.json";
import notFoundImg from "./assets/not-found.webp";
import i18n from "./i18n";

type Props = {
  showTopics?: boolean;
};

const lang = Astro.currentLocale as Lang;
const { searchPlaceholder, searchAriaLabel } = i18n[lang];

const { showTopics = false } = Astro.props;

const topicsList = postTopics?.["topics-list"] || [];
const topicsSlugs = topicsList.map(({ slug }) => slug).join(",");
---

<div class="search" data-fragment="search-posts" data-show-topics={showTopics && "true"}>
  <div class="search-line">
    <h1 class="search-semantic-title">posts</h1>
    <div class="search-logo"></div>
    <input class="search-input" type="text" aria-label={searchAriaLabel} />
    <Button class="search-button">{searchPlaceholder}</Button>
  </div>
  <slot name="topics-slot">
    {
      showTopics && (
        <form class="search-topics" data-topics={topicsSlugs}>
          {topicsList.map(({ slug, label, color }) => (
            <div class="search-topic">
              <input class="search-topic-check" type="checkbox" id={slug} name="topics" value={slug} />
              <label class="search-topic-label" for={slug}>
                {label}
              </label>
            </div>
          ))}
        </form>
      )
    }
  </slot>

  <slot />
  <template id="not-found-template">
    <LocalImage class="not-found-img" id="not-found-image" src={notFoundImg} alt="not found" />
  </template>
</div>
<script>
  import "./controller";
</script>
<style lang="scss">
  .search {
    &-line {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-direction: row;

      @include belowTurningPoint() {
        flex-direction: column;
      }
    }

    &-semantic-title {
      position: absolute;
      opacity: 0;
    }

    &-logo {
      width: 130px;
      height: 68px;
      background-image: var(--theme-search-logo);
      background-size: cover;
      margin-right: 20px;

      @include belowTurningPoint() {
        margin-right: 0;
      }
    }

    &-input {
      width: 100%;
      max-width: 300px;
      padding: 0 15px;
      font-size: var(--search-field-font);
    }

    &-topics {
      margin-top: 20px;
      display: flex;
      gap: 10px;
    }

    &-topic {
      background-color: var(--gray-10);
      padding: 5px;
      border-radius: 3px;
      border: 1px solid transparent;
      transition: all 0.2s ease;
      cursor: pointer;

      &:checked {
        background-color: var(--blue-10);
        color: var(--white);
      }
    }

    &-topic-label {
      font-family: arial;
      font-size: var(--txt-xsmall);
    }
  }

  .not-found-img {
    max-width: 300px;
  }
</style>
