---
import Window from "@components/Window/index.astro";
import i18n from "./i18n";
import Tabs from "@components/Tabs/Tabs.astro";
import Tab from "@components/Tabs/Tab.astro";
import Groupbox from "@components/Groupbox.astro";
import FieldRow from "@components/FieldRow.astro";
import Button from "@components/Button.astro";
import LanguageSelector from "@components/LanguageSelector.astro";

const currentLang = Astro.currentLocale as Lang;

const {
  windowTitle,
  defaultLabel,
  themeOption,
  screenFilterOption,
  textSizeOption,
  none,
  textSizeMax,
  textSizeMin,
  customPointerLabel,
  customPointerOption,
  language,
  backgroundImage,
  inConstructionLabel,
} = i18n[currentLang];

const themes = [
  { label: `Luna (${defaultLabel})`, id: "default" },
  { label: `Zune (dark)`, id: "dark" },
  {
    label: `Silver Luna (${inConstructionLabel})`,
    id: "luna-silver",
    disabled: true,
  },
];

const uiFilters = [
  { label: none, id: "none" },
  { label: "CRT TV", id: "crt-tv" },
  { label: "Vintage monitor", id: "vintage-monitor" },
];

const fieldsNames = {
  theme: "theme",
  filter: "filter",
  textSize: "text-size",
  customPointer: "pointer",
  language: "lang",
  backgroundImg: "desk-background",
};

const deskBackgrounds = [
  { label: "Default", id: "none" },
  { label: "Black", id: "black" },
  { label: "Matrix", id: "matrix" },
  { label: "Cat hacker", id: "cat" },
  { label: "Dog hacker", id: "dog" },
];
---

<div class="settings-window" data-fragment="settings-window" transition:persist>
  <div class="settings-backdrop"></div>
  <div class="settings-container">
    <Window id="settings-window" title={windowTitle}>
      <form id="settings-form">
        <Tabs
          tablist={[
            { label: "UI", id: "ui" },
            { label: "Misc", id: "misc" },
          ]}
        >
          <Tab id="ui">
            <Groupbox legend={themeOption}>
              {
                themes.map(({ id, label, disabled }) => (
                  <FieldRow>
                    <input
                      name={fieldsNames.theme}
                      id={id}
                      type="radio"
                      value={id}
                      disabled={disabled}
                      checked={id === "default"}
                    />
                    <label for={id}>{label}</label>
                  </FieldRow>
                ))
              }
            </Groupbox>
            <Groupbox legend={backgroundImage} class="desktop-only-option">
              <select name={fieldsNames.backgroundImg} style="width:100%;">
                {
                  deskBackgrounds.map(({ label, id }) => (
                    <option value={id}>{label}</option>
                  ))
                }
              </select>
            </Groupbox>
            <div class="settings-side-by-side">
              <Groupbox legend={screenFilterOption} class="settings-filter">
                <select name={fieldsNames.filter} style="width:100%;">
                  {
                    uiFilters.map(({ label, id }) => (
                      <option value={id}>{label}</option>
                    ))
                  }
                </select>
              </Groupbox>
              <Groupbox legend={textSizeOption} class="settings-txt">
                <div class="text-range">
                  <label for="text-size">{textSizeMin}</label>
                  <input
                    id={fieldsNames.textSize}
                    name={fieldsNames.textSize}
                    type="range"
                    min="0"
                    max="100"
                    step="50"
                  />
                  <label for="text-size">{textSizeMax}</label>
                </div>
              </Groupbox>
            </div>
          </Tab>
          <Tab id="misc">
            <Groupbox legend={customPointerOption} class="desktop-only-option">
              <FieldRow>
                <input
                  type="checkbox"
                  value="true"
                  id={fieldsNames.customPointer}
                  name={fieldsNames.customPointer}
                />
                <label for={fieldsNames.customPointer}>
                  {customPointerLabel}
                </label>
              </FieldRow>
            </Groupbox>
            <Groupbox legend={language}>
              <LanguageSelector useLabel={false} name={fieldsNames.language} />
            </Groupbox>
          </Tab>
        </Tabs>
        <div class="settings-actions">
          <Button id="settings-ok">Ok</Button>
        </div>
      </form>
    </Window>
  </div>
</div>

<style lang="scss">
  @import "./styles.scss";
</style>

<script>
  import "./controller";
</script>
