---
import Shell from "@components/Shell/index.astro";
import Image from "@components/Image/index.astro";
import SearchItem from "@components/SearchItem/index.astro";
import { getPageI18NPathMap } from "@helpers/server/i18n";
import pagePaths from "@constants/pagePaths";

import introImg from "./assets/intro-mobile.webp";
import i18n from "./i18n";
import { getPostsByLang } from "@content/helpers";

const currentLang = Astro.currentLocale as Lang;
const pageData = i18n[currentLang];
const usedPagePaths = pagePaths[currentLang];
const { posts: postsPath } = usedPagePaths;

const allPosts = await getPostsByLang(currentLang);
/* const latestPosts = allPosts.slice(0, 5); */
const latestPosts = [...allPosts, ...allPosts];
---

<Shell i18nPagePaths={getPageI18NPathMap("home")}>
  <div class="main-page" data-fragment="main-page">
    <section class="presentation">
      <h1 class="section-title">{pageData.mainTitle}</h1>
      <div class="presentation-panels">
        <div>
          {
            pageData.introParagraphs.map((paragraph) => (
              <p set:html={paragraph} />
            ))
          }
        </div>
        <div class="main-image-holder">
          <Image
            src={introImg}
            class="main-image"
            alt={pageData.mainImgAlt}
            loading="eager"
          />
        </div>
      </div>
    </section>
    <section class="latest-posts">
      <h3 class="section-title">{pageData.latestPostsTitle}</h3>
      <ul class="posts-list">
        {latestPosts.map((post) => <SearchItem post={post} />)}
      </ul>
      <a href={postsPath} class="more-posts-link">...{pageData.morePosts}</a>
    </section>
  </div>
</Shell>

<style lang="scss">
  @import "./styles.scss";
</style>
